  <footer class="footer" id="footer">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">

          <a href="#" class="logo" style="font-family:'Cairo',sans-serif;">مدرسة القديس مرقس للألحان</a>

          <p class="section-text" style="font-family:'Cairo',sans-serif;">
            رؤيتنا..... إعداد جيل من المخدومين قادر أن يعيش روحانية طقوس وليتورجيات الكنيسة الأرثوذكسية بما يحفظ ملامحهم الارثوذكسة وإحترامهم لها
          </p>

          <ul class="social-list">

            <li>
              <a href="https://www.facebook.com/SanMarkSchool" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title" style="font-family:'Cairo',sans-serif;">خريطة المدرسة</p>
          </li>

          <li>
            <a href="#home" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">الرئيسية</span>
            </a>
          </li>

          <li>
            <a href="#about" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;" >عن المدرسة</span>
            </a>
          </li>

          <li>
            <a href="#category" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">المناهج</span>
            </a>
          </li>

          <li>
            <a href="#newnews" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">أخر الأخبار</span>
            </a>
          </li>

          <li>
            <a href="#courses" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">مدونة المدرسة</span>
            </a>
          </li>

          <li>
            <a href="#footer" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">تواصل معنا</span>
            </a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title" style="font-family:'Cairo',sans-serif;">مناهج المدرسة</p>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">منهج الألحان</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">منهج الطقس</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">منهج القبطي</span>
            </a>
          </li>


          <li>
            <a href="#" class="footer-link">
              <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

              <span class="span" style="font-family:'Cairo',sans-serif;">منهج الكتاب المقدس</span>
            </a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title" style="font-family:'Cairo',sans-serif;">للتواصل معنا</p>
          </li>

          <li class="footer-item">
            <ion-icon name="location-outline" aria-hidden="true"></ion-icon>

            <address class="footer-link" style="font-family:'Cairo',sans-serif;">
              كنيسة السيدة العذراء مريم ومار مرقس الرسول منشأة البكاري, الطوابق -الجيزة
            </address>
          </li>

          <li class="footer-item">
            <ion-icon name="call" aria-hidden="true" dir="ltr"></ion-icon>

            <a href="tel:+13647657839" class="footer-link" style="font-family:'Cairo',sans-serif;">0102-523-9737</a>
          </li>

          <li class="footer-item">
            <ion-icon name="call" aria-hidden="true"></ion-icon>

            <a href="tel:+13647657840" class="footer-link" style="font-family:'Cairo',sans-serif;">0127-297-5875</a>
          </li>

          <li class="footer-item">
            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

            <a href="mailto:contact@eduhome.com" class="footer-link" style="font-family:'Cairo',sans-serif;">St.MarkSchool@gmail.com</a>
          </li>

        </ul>

      </div>

      <div class="footer-bottom">
        <p class="copyright" style="font-family:'Cairo',sans-serif; color:rgb(250, 253, 255);" style="font-family:'Cairo',sans-serif;">
        &copy;  {{  footdata.0.foot_sub    }}        </p>
        <a class="copyright" style="font-family:'Cairo',sans-serif; color:rgb(250, 253, 255);" style="font-family:'Cairo',sans-serif;">
          {{  footdata.0.foot_title    }}
        </a>
      </div>

    </div>
  </footer>





  <!--
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <ion-icon name="arrow-up"></ion-icon>
  </a>





  <!--
    - custom js link
  -->
  <script src="../static/assets/js/script.js" defer></script>
    <script src=" ../static/config.js"></script>
  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>