{%extends "base.html" %}
  {% block content %}

 <main>
    <article>
        <section class="section course" id="courses" aria-label="course"
        style="background-image: url('../static/assets/images/course-bg.jpg')">
        <div class="container">

          <!--<p class="section-subtitle" style="font-family:'Cairo',sans-serif;">نشاطات وأحداث مدرستنا كتيرة جدًا</p>-->

          <h2 class="h2 section-title" style="font-family:'Cairo',sans-serif;"> مستويات القبطى</h2>
          <p class="section-subtitle" style="font-family:'Cairo',sans-serif; text-align:center; color:blue;">من مرحلة حضانة إلى  ابتدائي</p>

          <ul class="grid-list">

            <li>
              <div class="course-card">

                <figure class="card-banner">
                  <img src="{{ kpaty1data.0.صورة1.url }}" width="370" height="270" loading="lazy"
                    alt="Competitive Strategy law for all students" class="img-cover">
                </figure>

                <div class="card-actions">

                  <span class="badge" style="font-family:'Cairo',sans-serif;" >{{ kpaty1data.0.واصف1 |safe  }}</span>

                  <button class="whishlist-btn" aria-label="Add to whishlist" data-whish-btn>
                    <ion-icon name="heart"></ion-icon>
                  </button>

                </div>

                <div class="card-content">

                  <!--<ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>

                      <span class="card-meta-text">35 Photo</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <time datetime="PT18H15M44S" class="card-meta-text">1/9/2022</time>
                    </li>

                  </ul>-->

                  <h3 class="h3">
                    <a href="{% url 'kpaty11'  %}" class="card-title" style="font-family:'Cairo',sans-serif;">{{ kpaty1data.0.عنوان1 |safe   }}</a>
                  </h3>

                  <div class="rating-wrapper">

                    <!--<div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <!-<span class="rating-text">(18 Review)</span>-->

                  </div>

                 <!-- <div class="card-footer">

                    <div class="card-price">
                      <span class="span">$29.00</span>

                      <del class="del">$39.00</del>
                    </div>

                    <div class="card-meta-item">
                      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                      <span class="card-meta-text">47 Students</span>
                    </div>

                  </div>-->

                </div>

              </div>
            </li>

            <li>
              <div class="course-card">

                <figure class="card-banner">
                  <img src="{{ kpaty1data.0.صورة2.url }}" width="370" height="270" loading="lazy"
                    alt="Competitive Strategy law for all students" class="img-cover">
                </figure>

                <div class="card-actions">

                  <span class="badge" style="font-family:'Cairo',sans-serif;" >{{ kpaty1data.0.واصف2 |safe  }}</span>

                  <button class="whishlist-btn" aria-label="Add to whishlist" data-whish-btn>
                    <ion-icon name="heart"></ion-icon>
                  </button>

                </div>

                <div class="card-content">

                  <!--<ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>

                      <span class="card-meta-text">35 Photo</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <time datetime="PT18H15M44S" class="card-meta-text">1/9/2022</time>
                    </li>

                  </ul>-->

                  <h3 class="h3">
                    <a href="{% url 'kpaty12'  %}" class="card-title" style="font-family:'Cairo',sans-serif;">{{ kpaty1data.0.عنوان2 |safe   }}</a>
                  </h3>

                  <div class="rating-wrapper">

                    <!--<div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <!-<span class="rating-text">(18 Review)</span>-->

                  </div>

                 <!-- <div class="card-footer">

                    <div class="card-price">
                      <span class="span">$29.00</span>

                      <del class="del">$39.00</del>
                    </div>

                    <div class="card-meta-item">
                      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                      <span class="card-meta-text">47 Students</span>
                    </div>

                  </div>-->

                </div>

              </div>
            </li>

            <li>
              <div class="course-card">

                <figure class="card-banner">
                  <img src="{{ kpaty1data.0.صورة3.url }}" width="370" height="270" loading="lazy"
                    alt="Competitive Strategy law for all students" class="img-cover">
                </figure>

                <div class="card-actions">

                  <span class="badge" style="font-family:'Cairo',sans-serif;" >{{ kpaty1data.0.واصف3 |safe  }}</span>

                  <button class="whishlist-btn" aria-label="Add to whishlist" data-whish-btn>
                    <ion-icon name="heart"></ion-icon>
                  </button>

                </div>

                <div class="card-content">

                  <!--<ul class="card-meta-list">

                    <li class="card-meta-item">
                      <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>

                      <span class="card-meta-text">35 Photo</span>
                    </li>

                    <li class="card-meta-item">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <time datetime="PT18H15M44S" class="card-meta-text">1/9/2022</time>
                    </li>

                  </ul>-->

                  <h3 class="h3">
                    <a href="{% url 'kpaty13'  %}" class="card-title" style="font-family:'Cairo',sans-serif;">{{ kpaty1data.0.عنوان3 |safe   }}</a>
                  </h3>

                  <div class="rating-wrapper">

                    <!--<div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <!-<span class="rating-text">(18 Review)</span>-->

                  </div>

                 <!-- <div class="card-footer">

                    <div class="card-price">
                      <span class="span">$29.00</span>

                      <del class="del">$39.00</del>
                    </div>

                    <div class="card-meta-item">
                      <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                      <span class="card-meta-text">47 Students</span>
                    </div>

                  </div>-->

                </div>

              </div>
            </li>


            </ul>
  

            
       <!--
        - #HERO
        -->
        </div>
        </section>

      <!--<section class="hero" id="home" aria-label="hero" style="background-image: url('../assets/back.jpg')">-->
    </article>

  </main>
   <!-- 
    - #FOOTER
  -->

  
 <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
    <ion-icon name="arrow-up"></ion-icon>
  </a>





 {% endblock  %}