
{%extends "base.html" %}
{% block content %}



       <section class="section newsletter" aria-label="newsletter"
        style="background-image: url('./assets/images/newsletter-bg.jpg')" dir="ltr">
        <div class="container">
<br>
            <br>
            <br>
          <p class="section-subtitle" style="font-family:'Cairo',sans-serif;">راعي المدرسة</p>

          <h2 class="h2 section-title" style="font-family:'Cairo',sans-serif;">القمص مارك جورج</h2>

          <figure class="cta-banner" style="color: bisque;">
            <img src="../static/Abram.gif" width="580" height="380" loading="lazy" alt="cta banner"
              class="img-background" style="color: bisque;">
          </figure>



        </div>
      </section>

{% endblock  %}